.header-container{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
.brand-name{
    grid-column: span 2;
    margin-left: 20px;
}
.navbar{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 700px;
}
.nav a{
    padding-right: 30px;
    text-decoration: none;
}
.nav a:hover{
    color: blue;
}
